<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
</head>

<body>


      <h3 style="text-align: center;"><%  include template/header.ejs %>
	  </h3>
	  <br>
	  <br>
	  <br>
	  <br>
	 <div class="login-page">
	  <div class="form">
<form method="POST" action="/json" class="register-form">
	<table align='center'>
	<tr>
		<td>Enter the JSON to beautify</td>
	 	
	</tr>
	<br>
	<tr>
	<td>
		<textarea id="wmd-input" class="wmd-input js-wz-element s-input bar0 processed" name="post" cols="92" rows="15" tabindex="101" data-wz-state="256" data-min-length="" spellcheck="false"></textarea>
	</td>
	<td>
			<textarea id="wmd-input" class="wmd-input js-wz-element s-input bar0 processed" name="result" cols="92" rows="15" tabindex="101" data-wz-state="256" data-min-length="" spellcheck="false"><%=result%></textarea>
		</td>
	</tr>
	<tr>
		<td><input type="submit" value="submit"></td>
	</tr>
	</table>
</form>
</div>
</div>

</body>
</html>